doctype html
html(lang="en")
	head
		title #{site.title}
		meta(name="charset" , content=site.meta.charset)
		meta(name="keywords" , content=site.meta.keywords)
		meta(name="description", content=site.meta.description)
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="icon", href=site.meta.favicon)
	body.bg-primary
		header
			h1 #{content.h1}
		p.text-styled This text uses a font from ./source/assets/fonts
		p Which is different from this font
		br
		p #{content.body}
		br
		p.text-center This text is centered using a static CSS from ./source/assets/css
		button(class ="btn btn-success", onclick="minifiedAssetsFunction()") This button calls a function from ./source/assets/js
		p And this is a static image copied from ./source/assets/images:
		div
			img(class="img-thumbnail", src=content.image)
		script(src="js/all.min.js")
